<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="85a8a0b05a76486c8b6d3ca93e7c3535" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_85a8a0b05a76486c8b6d3ca93e7c3535 = echarts.init(
            document.getElementById('85a8a0b05a76486c8b6d3ca93e7c3535'), 'white', {renderer: 'canvas'});
        var option_85a8a0b05a76486c8b6d3ca93e7c3535 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u6bcf\u5e73\u7c73\u4ef7\u683c",
            "symbolSize": 10,
            "data": [
                [
                    "\u5929\u5c71\u540d\u82d1",
                    8249.0
                ],
                [
                    "\u91d1\u57df\u6e2f\u6e7e",
                    16009.0
                ],
                [
                    "\u8fce\u6656\u8def183\u53f7",
                    9197.0
                ],
                [
                    "\u679c\u58f3\u91cc\u7684\u57ce",
                    17214.0
                ],
                [
                    "\u91d1\u79d1\u4e00\u57ce",
                    16533.0
                ],
                [
                    "\u6052\u5927\u5fa1\u666f\u534a\u5c9b",
                    6799.0
                ],
                [
                    "\u6b23\u56ed\u4e8c\u671f",
                    14334.0
                ],
                [
                    "\u9526\u4e1c\u5ead\u56ed",
                    27009.0
                ],
                [
                    "\u661f\u6708\u6e7e",
                    6940.0
                ],
                [
                    "\u84dd\u5149SOFA\u793e\u533a",
                    20834.0
                ],
                [
                    "\u5174\u84c9\u897f\u5df75\u53f7",
                    11576.0
                ],
                [
                    "\u91d1\u5f3a\u5927\u5b66\u57ce",
                    11317.0
                ],
                [
                    "\u4e2d\u94c1\u94f6\u674f\u5e7f\u573a",
                    11000.0
                ],
                [
                    "\u9996\u822a\u6b23\u7a0b",
                    23512.0
                ],
                [
                    "\u4e2d\u94c1\u897f\u90e1\u82f1\u534e\u4e8c\u671f",
                    10682.0
                ],
                [
                    "\u9a6c\u978d\u5317\u8def51\u53f7",
                    12263.0
                ],
                [
                    "\u91d1\u5ea7\u84c9\u57ce\u80dc\u666f",
                    12950.0
                ],
                [
                    "\u4e07\u79d1\u7b2c\u4e94\u57ce\u4e00\u671f",
                    16816.0
                ],
                [
                    "\u6e05\u6c34\u8def\u82d1",
                    15523.0
                ],
                [
                    "\u897f\u5cb8\u89c2\u90b8",
                    15967.0
                ],
                [
                    "\u6e29\u6c5f\u533a\u6559\u80b2\u7814\u7a76\u57f9\u8bad\u4e2d\u5fc3",
                    7970.0
                ],
                [
                    "\u8700\u90fd\u82b1\u56ed",
                    15998.0
                ],
                [
                    "\u7406\u5de5\u5357\u82d1",
                    9796.0
                ],
                [
                    "\u851a\u84dd\u5361\u5730\u4e9a\u82b1\u56ed\u57ce",
                    28948.0
                ],
                [
                    "\u5fa1\u5ef7\u4e0a\u90e1",
                    17913.0
                ],
                [
                    "\u6052\u5927\u7eff\u6d32",
                    17191.0
                ],
                [
                    "\u6b23\u5b87\u90fd\u5e02\u6e2f\u6e7e",
                    19197.0
                ],
                [
                    "\u52a0\u8d1d\u4e66\u9999\u5c1a\u54c1",
                    12957.0
                ],
                [
                    "\u4e2d\u6d77\u65b0\u534e\u5e9c",
                    24640.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                    19143.0
                ],
                [
                    "\u84dd\u5149coco\u56fd\u9645\u4e8c\u671f",
                    18709.0
                ],
                [
                    "\u6052\u5927\u897f\u9526\u57ce",
                    17842.0
                ],
                [
                    "\u7f24\u7eb7\u5e7f\u573a",
                    10105.0
                ],
                [
                    "\u6c34\u78be\u6cb3\u5357\u4e09\u88571\u53f7",
                    10527.0
                ],
                [
                    "\u4e2d\u7cae\u9e3f\u4e91",
                    36517.0
                ],
                [
                    "\u4e2d\u94c1\u9e6d\u5c9b\u827a\u672f\u57ce",
                    27781.0
                ],
                [
                    "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                    17026.0
                ],
                [
                    "\u79be\u5609\u5229\u597d",
                    12109.0
                ],
                [
                    "\u6cc9\u6c34\u4eba\u5bb6\u4e09\u671fA\u533a",
                    13692.0
                ],
                [
                    "\u621b\u7eb3\u6e7e\u6ee8\u6c5f",
                    22030.0
                ],
                [
                    "\u5317\u5927\u8d44\u6e90\u71d5\u6960\u56fd\u9645",
                    16380.0
                ],
                [
                    "\u745e\u5c45\u6d77\u5e03\u65af\u5361",
                    8837.0
                ],
                [
                    "\u4f18\u6d3e\u7acb\u65b9",
                    11082.0
                ],
                [
                    "\u6da6\u5170\u82d1",
                    11334.0
                ],
                [
                    "\u82b1\u6837\u5e74\u82b1\u90e1",
                    16762.0
                ],
                [
                    "\u4fdd\u5229\u73ab\u7470\u82b1\u8bed",
                    16474.0
                ],
                [
                    "\u745e\u5347\u660e\u9662",
                    9941.0
                ],
                [
                    "\u6cb3\u6ee8\u4e3d\u82d1",
                    10712.0
                ],
                [
                    "\u9996\u521b\u7231\u8fd9\u57ce\u4e09\u671f",
                    18244.0
                ],
                [
                    "\u661f\u5149\u534e\u5370\u8c61",
                    14584.0
                ],
                [
                    "\u50b2\u57ce",
                    15003.0
                ],
                [
                    "\u4e0a\u5347\u5ead\u82d1",
                    5931.0
                ],
                [
                    "\u6c47\u878d\u6089\u5c3c\u6e7e\u8fbe\u4ee4\u6e2f",
                    11775.0
                ],
                [
                    "\u4f18\u54c1\u5c1a\u4e1c\u4e09\u671f",
                    20441.0
                ],
                [
                    "\u65b0\u57ce\u543e\u60a6\u5e7f\u573a",
                    16337.0
                ],
                [
                    "\u65b0\u57ce\u543e\u60a6\u5e7f\u573a",
                    16337.0
                ],
                [
                    "\u7fd4\u5b87\u699c\u6837",
                    14641.0
                ],
                [
                    "\u4e0a\u9526\u96c5\u7b51",
                    17363.0
                ],
                [
                    "\u7ea2\u724c\u697c\u5317\u885725\u53f7\u9662",
                    9974.0
                ],
                [
                    "\u6210\u90fd\u65b0\u5929\u5730\u4e8c\u671f\u6625\u5929\u91cc",
                    16508.0
                ],
                [
                    "\u62db\u5546\u96cd\u534e\u5e9c\u4e00\u671f",
                    17924.0
                ],
                [
                    "\u89c2\u5357\u4e0a\u57df",
                    22986.0
                ],
                [
                    "\u65f6\u4ee3\u9526\u57ce",
                    11276.0
                ],
                [
                    "\u65b0\u91cc\u7ef4\u591a\u5229\u4e9a\u516c\u5bd3",
                    18191.0
                ],
                [
                    "\u5174\u5143\u5609\u56ed",
                    12958.0
                ],
                [
                    "\u6717\u57fa\u5fa1\u4eca\u7f18",
                    32564.0
                ],
                [
                    "\u5317\u5927\u8d44\u6e90\u9890\u548c\u96c5\u90e1",
                    10028.0
                ],
                [
                    "\u6052\u5927\u5e1d\u666f",
                    8868.0
                ],
                [
                    "\u4e0a\u9053\u897f\u57ce",
                    15719.0
                ],
                [
                    "\u6052\u5927\u7eff\u6d32",
                    15462.0
                ],
                [
                    "\u5317\u56de\u5f52\u7ebf\u4e00\u671f",
                    13758.0
                ],
                [
                    "\u5fa1\u9f99\u5c71\u4e8c\u671f",
                    24300.0
                ],
                [
                    "\u91d1\u8302\u793c\u90fd",
                    13268.0
                ],
                [
                    "\u65b0\u90fd\u56fd\u9645\u5e7f\u573a\u4e8c\u671f",
                    10135.0
                ],
                [
                    "\u4f9d\u4e91",
                    9964.0
                ],
                [
                    "\u5929\u5408\u51ef\u65cb\u6e2f",
                    13905.0
                ],
                [
                    "\u5e7f\u798f\u6865\u885732\u53f7",
                    12202.0
                ],
                [
                    "\u6469\u739b\u57ce",
                    18970.0
                ],
                [
                    "\u9886\u9986\u56fd\u9645\u57ce",
                    16847.0
                ],
                [
                    "\u4e0a\u4e1c\u4e00\u53f7\u4e00\u671f",
                    13651.0
                ],
                [
                    "\u4e1c\u82d1C\u533a",
                    26951.0
                ],
                [
                    "\u7eff\u5730468\u516c\u9986\u4e00\u671f",
                    22064.0
                ],
                [
                    "\u9ad8\u7891\u745e\u82d1\u4e00\u671f",
                    13098.0
                ],
                [
                    "\u5174\u5143\u5609\u56ed",
                    11776.0
                ],
                [
                    "\u5fb7\u5546\u534e\u5e9c\u5929\u9a84",
                    22668.0
                ],
                [
                    "\u957f\u5929\u8def32\u53f7\u793e\u533a",
                    10408.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                    21196.0
                ],
                [
                    "\u671b\u6c5f\u9526\u56ed",
                    21155.0
                ],
                [
                    "\u6bdb\u7eba\u5382\u5bb6\u5c5e\u533a",
                    8534.0
                ],
                [
                    "\u767e\u60a6\u5929\u9e45\u6e56",
                    19701.0
                ],
                [
                    "\u897f\u8d22\u5b66\u5e9c\u5c1a\u90e1",
                    8863.0
                ],
                [
                    "\u516c\u56ed\u5927\u9053",
                    13393.0
                ],
                [
                    "\u9f99\u817e\u4e1c\u9e93\u57ce",
                    10848.0
                ],
                [
                    "\u4eba\u548c\u4e16\u5bb6",
                    10607.0
                ],
                [
                    "\u9f99\u6e56\u4e09\u5343\u5ead",
                    19253.0
                ],
                [
                    "\u6d45\u6c34\u534a\u5c9b\u4e09\u671f",
                    16506.0
                ],
                [
                    "\u5357\u6e56\u534a\u5c9b",
                    18938.0
                ],
                [
                    "\u84dd\u6da6\u68e0\u6e56\u6625\u5929V\u5ba2",
                    14644.0
                ],
                [
                    "\u5929\u7acb\u5e7f\u573a",
                    10796.0
                ],
                [
                    "\u4f18\u54c1\u5c1a\u4e1c",
                    20330.0
                ],
                [
                    "\u4e9a\u4e01\u5c0f\u9547",
                    8846.0
                ],
                [
                    "\u548c\u4fe1\u5929\u9a84\u5e9c",
                    8253.0
                ],
                [
                    "\u5929\u5e9c\u540d\u5c45",
                    26021.0
                ],
                [
                    "\u6da6\u79be\u82b1\u56ed",
                    12478.0
                ],
                [
                    "\u9999\u6728\u6797\u52a0\u5dde\u56fd\u9645",
                    16455.0
                ],
                [
                    "\u8700\u9547\u9526\u7ff0\u56ed",
                    10035.0
                ],
                [
                    "\u6587\u5e99\u540e\u885731\u53f7",
                    14942.0
                ],
                [
                    "\u6218\u65d7\u4e1c\u8def9\u53f7",
                    12998.0
                ],
                [
                    "\u878d\u57ce\u540e\u8857",
                    17213.0
                ],
                [
                    "\u5357\u6e56\u4e16\u7eaa",
                    19472.0
                ],
                [
                    "\u897f\u5cb8\u8482\u666f",
                    24520.0
                ],
                [
                    "\u5e03\u9c81\u6c40",
                    13828.0
                ],
                [
                    "\u745e\u5347\u671b\u6c5f\u6a61\u6811\u6797\u4e8c\u671f",
                    24185.0
                ],
                [
                    "\u6211\u7684\u5927\u5b66",
                    8303.0
                ],
                [
                    "\u5929\u5e9c\u957f\u57ce\u67cf\u5357\u90e1",
                    28762.0
                ],
                [
                    "\u5357\u6e56\u56fd\u9645\u793e\u533a",
                    18657.0
                ],
                [
                    "\u9999\u6f9c\u534a\u5c9b",
                    18095.0
                ],
                [
                    "\u8096\u5bb6\u6cb3\u4e1c\u4e00\u5df7",
                    12365.0
                ],
                [
                    "\u5143\u76ca\u82b1\u56ed",
                    14286.0
                ],
                [
                    "\u679c\u58f3\u91cc\u7684\u57ce",
                    17854.0
                ],
                [
                    "\u5357\u57ce\u90fd\u6c47\u6c47\u5c1a\u56ed",
                    27753.0
                ],
                [
                    "\u91d1\u79d1\u4e1c\u65b9\u96c5\u90e1",
                    16064.0
                ],
                [
                    "\u7ea2\u5899\u5df720\u53f7",
                    18123.0
                ],
                [
                    "\u4f18\u5730A\u533a",
                    16069.0
                ],
                [
                    "\u7a7a\u6e2f\u5341\u516d\u533a",
                    11926.0
                ],
                [
                    "\u82b1\u6837\u5e74\u82b1\u6837\u57ce\u4e94\u671f",
                    10058.0
                ],
                [
                    "\u4ec1\u6052\u6ee8\u6cb3\u6e7e",
                    45474.0
                ],
                [
                    "\u534e\u6da6\u4e8c\u5341\u56db\u57ce\u4e03\u671f",
                    27079.0
                ],
                [
                    "\u6210\u5357\u9526\u79c0",
                    16009.0
                ],
                [
                    "\u6fb3\u6d32\u6e7e",
                    13640.0
                ],
                [
                    "\u8700\u90e1\u53c8\u4e00\u57ce",
                    23052.0
                ],
                [
                    "\u6cc9\u6c34\u4eba\u5bb6\u4e8c\u671fA\u533a",
                    14640.0
                ],
                [
                    "\u82b1\u6837\u5e74\u82b1\u6837\u57ce\u4e94\u671f",
                    9613.0
                ],
                [
                    "\u7f24\u7eb7\u5e7f\u573a",
                    10897.0
                ],
                [
                    "\u6b63\u5174\u5c0f\u533a",
                    6047.0
                ],
                [
                    "\u91d1\u8302\u5149\u660e\u57ce\u5e02",
                    23699.0
                ],
                [
                    "\u84dd\u5149\u5e78\u798f\u6ee1\u5ead",
                    15622.0
                ],
                [
                    "\u6210\u79d1\u8def1\u53f7\u964425\u53f7",
                    12709.0
                ],
                [
                    "\u7535\u5efa\u5730\u4ea7\u4e91\u7acb\u65b9",
                    16872.0
                ],
                [
                    "\u91d1\u6cb3\u8c37\u4e94\u671f",
                    12534.0
                ],
                [
                    "\u91d1\u79cb\u4e50\u56ed\u4e8c\u671f",
                    6501.0
                ],
                [
                    "\u6b23\u5b87\u90fd\u5e02\u6e2f\u6e7e",
                    17387.0
                ],
                [
                    "\u4ea4\u5927\u82b1\u56ed\u6b66\u4faf\u5c0f\u533a",
                    12168.0
                ],
                [
                    "\u897f\u57ce\u5bb6\u56ed(\u9752\u7f8a)",
                    12722.0
                ],
                [
                    "\u516c\u56ed\u5927\u9053",
                    13010.0
                ],
                [
                    "\u897f\u8d22\u5b66\u5e9c\u61ac\u57ce",
                    12131.0
                ],
                [
                    "\u58f9\u53f7\u516c\u9986",
                    12621.0
                ],
                [
                    "\u4e3d\u6c34\u6f9c\u5eadB\u533a",
                    13067.0
                ],
                [
                    "\u7eff\u5730\u56fd\u9645\u82b1\u90fd\u4e09\u671f",
                    10504.0
                ],
                [
                    "\u4e2d\u94c1\u4e3d\u666f\u4e66\u9999",
                    13487.0
                ],
                [
                    "\u6d3e\u514b\u516c\u9986",
                    12145.0
                ],
                [
                    "\u4e1c\u65b9\u65b0\u57ce\u4e8c\u671f",
                    12150.0
                ],
                [
                    "\u89c2\u5357\u4e0a\u57df",
                    22004.0
                ],
                [
                    "\u4e2d\u6d77\u9526\u57ce\u4e8c\u671f",
                    19699.0
                ],
                [
                    "\u84dd\u5149\u9526\u7ee3\u57ce\u4e8c\u671f",
                    16431.0
                ],
                [
                    "\u53cc\u6797\u4e2d\u6a2a\u8def14\u53f7",
                    13816.0
                ],
                [
                    "ICC\u5929\u66dc",
                    33494.0
                ],
                [
                    "\u8425\u901a\u8857181\u53f7",
                    11599.0
                ],
                [
                    "\u6d77\u68e0\u4f73\u82d1",
                    18592.0
                ],
                [
                    "\u621b\u7eb3\u6e7e\u91d1\u68d5\u6988",
                    21685.0
                ],
                [
                    "\u9f99\u57ce1\u53f7",
                    19842.0
                ],
                [
                    "\u679c\u58f3\u91cc\u7684\u57ce",
                    15847.0
                ],
                [
                    "\u5730\u94c1\u9996\u5ea7",
                    14166.0
                ],
                [
                    "\u5fa1\u57ce",
                    11228.0
                ],
                [
                    "\u5408\u80fd\u67ab\u4e39\u94c2\u9e93\u4e00\u671f",
                    21924.0
                ],
                [
                    "\u91d1\u6cb3\u8c37\u4e94\u671f",
                    15523.0
                ],
                [
                    "\u4e09\u548c\u5357\u5ead",
                    14201.0
                ],
                [
                    "\u6c47\u878d\u4e91\u5ead",
                    16333.0
                ],
                [
                    "\u53cc\u6c34\u5eb7\u57ceD\u533a",
                    10036.0
                ],
                [
                    "\u534e\u90fd\u7f8e\u6797\u6e7e",
                    22132.0
                ],
                [
                    "\u534e\u6da6\u51e4\u51f0\u57ce\u4e00\u671f",
                    38222.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                    19605.0
                ],
                [
                    "\u4e16\u8302\u57ce\u56db\u671f",
                    16285.0
                ],
                [
                    "\u5929\u5e9c\u6b27\u57ce",
                    8112.0
                ],
                [
                    "\u534e\u90fd\u7f8e\u6797\u6e7e",
                    20004.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u4e3d\u6676\u6e2f",
                    15329.0
                ],
                [
                    "\u8fdc\u5927\u4e2d\u592e\u516c\u56ed",
                    19053.0
                ],
                [
                    "\u534e\u590f\u4e4b\u5bb6",
                    12757.0
                ],
                [
                    "\u6052\u5927\u7fe1\u7fe0\u534e\u5ead",
                    24275.0
                ],
                [
                    "\u65b0\u56ed\u5927\u9053296\u53f7\u9662",
                    12480.0
                ],
                [
                    "\u9e93\u5c71\u56fd\u9645\u4e91\u66e6\u53f0",
                    21176.0
                ],
                [
                    "\u76ca\u6c11\u82d1",
                    13597.0
                ],
                [
                    "\u4e1c\u65b9\u65b0\u57ce\u4e00\u671f",
                    13404.0
                ],
                [
                    "\u592a\u79be\u6c34\u6676\u57ce",
                    11088.0
                ],
                [
                    "\u9999\u6f9c\u534a\u5c9b",
                    18449.0
                ],
                [
                    "\u6e29\u54e5\u534e\u82b1\u56ed",
                    10967.0
                ],
                [
                    "\u65b0\u65b0\u5c0f\u533a",
                    5946.0
                ],
                [
                    "\u5408\u80fd\u67ab\u4e39\u94c2\u9e93\u4e8c\u671f",
                    19250.0
                ],
                [
                    "\u5fa1\u57ce",
                    10923.0
                ],
                [
                    "\u4eba\u6c11\u4e2d\u8def\u4e09\u6bb514\u53f7\u9662",
                    15036.0
                ],
                [
                    "\u4e16\u7eaa\u5149\u534e",
                    9482.0
                ],
                [
                    "\u57ce\u5357\u540d\u8457",
                    15907.0
                ],
                [
                    "\u7ea2\u67ab\u5cad\u4e09\u671f",
                    15668.0
                ],
                [
                    "\u6052\u5927\u5e7f\u573a",
                    24494.0
                ],
                [
                    "\u5357\u57ce\u90fd\u6c47\u6c47\u99a8\u56ed\u4e09\u671f",
                    28908.0
                ],
                [
                    "\u9999\u683c\u91cc\u62c9\u82b1\u56ed",
                    22124.0
                ],
                [
                    "\u548c\u4fe1\u5929\u9a84\u5e9c",
                    9733.0
                ],
                [
                    "\u8317\u82d1\u516c\u5bd3",
                    10658.0
                ],
                [
                    "\u7ea2\u724c\u697c\u5317\u88579\u53f7",
                    11903.0
                ],
                [
                    "\u9999\u5c71\u82d1",
                    14826.0
                ],
                [
                    "\u6cb9\u5efa\u65b0\u533a",
                    10545.0
                ],
                [
                    "\u6b27\u57ce\u7eff\u56ed",
                    7812.0
                ],
                [
                    "\u6da6\u79be\u82b1\u56ed",
                    13777.0
                ],
                [
                    "\u57ce\u5357\u540d\u8457",
                    16881.0
                ],
                [
                    "\u5357\u6e56\u534a\u5c9b",
                    18567.0
                ],
                [
                    "\u5bcc\u529b\u6843\u56edB\u533a",
                    12880.0
                ],
                [
                    "\u89e3\u653e\u897f\u8def",
                    9751.0
                ],
                [
                    "\u6960\u535a\u82d1\u4e09\u671f",
                    9422.0
                ],
                [
                    "\u6b63\u5174\u5c0f\u533a",
                    5473.0
                ],
                [
                    "\u9526\u7ee3\u534e\u90fd",
                    10759.0
                ],
                [
                    "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                    19940.0
                ],
                [
                    "\u68e0\u6e56\u58f9\u53f7",
                    5401.0
                ],
                [
                    "\u7eff\u6768\u65b0\u90a8",
                    16917.0
                ],
                [
                    "\u5929\u8d4b\u9f99\u5ead",
                    11704.0
                ],
                [
                    "\u9996\u521b\u4e07\u5377\u5c71",
                    15944.0
                ],
                [
                    "\u957f\u8679\u548c\u60a6\u5e9c",
                    23095.0
                ],
                [
                    "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                    18593.0
                ],
                [
                    "\u79ef\u5bb6\u5fa1\u666f",
                    13386.0
                ],
                [
                    "\u5bcc\u529b\u516c\u9986",
                    18475.0
                ],
                [
                    "\u94f6\u9523\u6e7e",
                    13088.0
                ],
                [
                    "\u68e0\u6e56\u6cca\u6797\u9547",
                    12674.0
                ],
                [
                    "\u5353\u9526\u57ce\u4e94\u671f",
                    24176.0
                ],
                [
                    "\u9a77\u9a6c\u5eb7\u57ce",
                    16367.0
                ],
                [
                    "\u8363\u76db\u82b1\u8bed\u57ce",
                    21808.0
                ],
                [
                    "\u4e07\u5174\u88571\u53f7\u9662",
                    10984.0
                ],
                [
                    "\u5929\u5e9c\u957f\u57ce\u67cf\u5357\u90e1",
                    29255.0
                ],
                [
                    "\u5408\u80fd\u73cd\u5b9d\u7425\u73c0",
                    13894.0
                ],
                [
                    "\u5de6\u5cb8\u82b1\u90fd",
                    15193.0
                ],
                [
                    "\u5409\u7965\u82b1\u56ed",
                    8279.0
                ],
                [
                    "\u65f6\u4ee3\u9526\u57ce",
                    15117.0
                ],
                [
                    "\u6c47\u878d\u6089\u5c3c\u6e7e\u8fbe\u4ee4\u6e2f",
                    13657.0
                ],
                [
                    "\u9999\u6f9c\u534a\u5c9b",
                    18743.0
                ],
                [
                    "\u9526\u7ee3\u68ee\u90bb",
                    14564.0
                ],
                [
                    "\u4e07\u79d1\u7406\u60f3\u57ce",
                    16121.0
                ],
                [
                    "\u9526\u6c5f\u56fd\u9645\u82b1\u56ed",
                    20765.0
                ],
                [
                    "\u5f69\u53e0\u56ed1A\u671f",
                    15555.0
                ],
                [
                    "\u673a\u8f66\u5382\u5bbf\u820d",
                    9403.0
                ],
                [
                    "\u65b0\u795e\u98ce\u516b\u5ea7",
                    11041.0
                ],
                [
                    "\u5f00\u5143\u56fd\u9645",
                    13849.0
                ],
                [
                    "\u51ef\u5fb7\u4e16\u7eaa\u540d\u90b8",
                    41392.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u4e3d\u6676\u516c\u9986",
                    14941.0
                ],
                [
                    "\u767e\u60a6\u57ce\u56db\u671f",
                    14622.0
                ],
                [
                    "\u8700\u90fd\u82b1\u56ed",
                    16500.0
                ],
                [
                    "\u5609\u7965\u745e\u5ead\u5357\u57ce",
                    22793.0
                ],
                [
                    "\u946b\u82d1\u946b\u90fd\u6c47\u5357\u533a",
                    21663.0
                ],
                [
                    "\u4e2d\u6d77\u9526\u57ce\u4e00\u671f",
                    21571.0
                ],
                [
                    "\u5929\u76db\u58f9\u4e2d\u5fc3",
                    12672.0
                ],
                [
                    "\u51ef\u534e\u4e3d\u666f",
                    19321.0
                ],
                [
                    "\u6c34\u97f5\u5c1a\u57ce",
                    9483.0
                ],
                [
                    "\u5353\u9526\u57ce\u516d\u671f",
                    27639.0
                ],
                [
                    "\u9752\u623f\u5c1a\u745e\u5929\u97f5",
                    14042.0
                ],
                [
                    "\u5408\u80fd\u56db\u5b63\u57ce\u4e8c\u671f",
                    14601.0
                ],
                [
                    "\u4e16\u53d1\u5bb6\u56ed",
                    9066.0
                ],
                [
                    "\u84dd\u5149\u4e1c\u65b9\u5929\u5730",
                    21159.0
                ],
                [
                    "\u51ef\u5fb7\u5353\u9526\u4e07\u9edb",
                    18828.0
                ],
                [
                    "\u76ca\u5dde\u56fd\u9645",
                    17526.0
                ],
                [
                    "\u534e\u6da6\u6a61\u6811\u6e7eA\u533a",
                    20919.0
                ],
                [
                    "\u5408\u80fd\u73cd\u5b9d\u7425\u73c0",
                    13224.0
                ],
                [
                    "\u9996\u521b\u7231\u8fd9\u57ce\u56db\u671f",
                    23220.0
                ],
                [
                    "\u658c\u5347\u885724\u53f7",
                    23855.0
                ],
                [
                    "\u6bd4\u534e\u5229\u56fd\u9645\u57ce\u4e00\u671f",
                    19859.0
                ],
                [
                    "\u65fa\u5e9c\u8c6a\u5ead",
                    13220.0
                ],
                [
                    "\u4e91\u6c34\u82d1",
                    21666.0
                ],
                [
                    "\u6cc9\u6c34\u4eba\u5bb6\u4e8c\u671fA\u533a",
                    13592.0
                ],
                [
                    "\u94a2\u7ba1\u5382\u4e94\u533a",
                    11188.0
                ],
                [
                    "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                    19772.0
                ],
                [
                    "\u6c11\u751f\u65b0\u5e72\u7ebf",
                    11361.0
                ],
                [
                    "\u4e07\u79d1\u91d1\u6da6\u534e\u5e9c",
                    26199.0
                ],
                [
                    "\u5de6\u5cb8\u82b1\u90fd",
                    17593.0
                ],
                [
                    "\u71c3\u706f\u5bfa\u5317\u885729\u53f7",
                    9600.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6bcf\u5e73\u7c73\u4ef7\u683c"
            ],
            "selected": {
                "\u6bcf\u5e73\u7c73\u4ef7\u683c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5929\u5c71\u540d\u82d1",
                "\u91d1\u57df\u6e2f\u6e7e",
                "\u8fce\u6656\u8def183\u53f7",
                "\u679c\u58f3\u91cc\u7684\u57ce",
                "\u91d1\u79d1\u4e00\u57ce",
                "\u6052\u5927\u5fa1\u666f\u534a\u5c9b",
                "\u6b23\u56ed\u4e8c\u671f",
                "\u9526\u4e1c\u5ead\u56ed",
                "\u661f\u6708\u6e7e",
                "\u84dd\u5149SOFA\u793e\u533a",
                "\u5174\u84c9\u897f\u5df75\u53f7",
                "\u91d1\u5f3a\u5927\u5b66\u57ce",
                "\u4e2d\u94c1\u94f6\u674f\u5e7f\u573a",
                "\u9996\u822a\u6b23\u7a0b",
                "\u4e2d\u94c1\u897f\u90e1\u82f1\u534e\u4e8c\u671f",
                "\u9a6c\u978d\u5317\u8def51\u53f7",
                "\u91d1\u5ea7\u84c9\u57ce\u80dc\u666f",
                "\u4e07\u79d1\u7b2c\u4e94\u57ce\u4e00\u671f",
                "\u6e05\u6c34\u8def\u82d1",
                "\u897f\u5cb8\u89c2\u90b8",
                "\u6e29\u6c5f\u533a\u6559\u80b2\u7814\u7a76\u57f9\u8bad\u4e2d\u5fc3",
                "\u8700\u90fd\u82b1\u56ed",
                "\u7406\u5de5\u5357\u82d1",
                "\u851a\u84dd\u5361\u5730\u4e9a\u82b1\u56ed\u57ce",
                "\u5fa1\u5ef7\u4e0a\u90e1",
                "\u6052\u5927\u7eff\u6d32",
                "\u6b23\u5b87\u90fd\u5e02\u6e2f\u6e7e",
                "\u52a0\u8d1d\u4e66\u9999\u5c1a\u54c1",
                "\u4e2d\u6d77\u65b0\u534e\u5e9c",
                "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                "\u84dd\u5149coco\u56fd\u9645\u4e8c\u671f",
                "\u6052\u5927\u897f\u9526\u57ce",
                "\u7f24\u7eb7\u5e7f\u573a",
                "\u6c34\u78be\u6cb3\u5357\u4e09\u88571\u53f7",
                "\u4e2d\u7cae\u9e3f\u4e91",
                "\u4e2d\u94c1\u9e6d\u5c9b\u827a\u672f\u57ce",
                "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                "\u79be\u5609\u5229\u597d",
                "\u6cc9\u6c34\u4eba\u5bb6\u4e09\u671fA\u533a",
                "\u621b\u7eb3\u6e7e\u6ee8\u6c5f",
                "\u5317\u5927\u8d44\u6e90\u71d5\u6960\u56fd\u9645",
                "\u745e\u5c45\u6d77\u5e03\u65af\u5361",
                "\u4f18\u6d3e\u7acb\u65b9",
                "\u6da6\u5170\u82d1",
                "\u82b1\u6837\u5e74\u82b1\u90e1",
                "\u4fdd\u5229\u73ab\u7470\u82b1\u8bed",
                "\u745e\u5347\u660e\u9662",
                "\u6cb3\u6ee8\u4e3d\u82d1",
                "\u9996\u521b\u7231\u8fd9\u57ce\u4e09\u671f",
                "\u661f\u5149\u534e\u5370\u8c61",
                "\u50b2\u57ce",
                "\u4e0a\u5347\u5ead\u82d1",
                "\u6c47\u878d\u6089\u5c3c\u6e7e\u8fbe\u4ee4\u6e2f",
                "\u4f18\u54c1\u5c1a\u4e1c\u4e09\u671f",
                "\u65b0\u57ce\u543e\u60a6\u5e7f\u573a",
                "\u65b0\u57ce\u543e\u60a6\u5e7f\u573a",
                "\u7fd4\u5b87\u699c\u6837",
                "\u4e0a\u9526\u96c5\u7b51",
                "\u7ea2\u724c\u697c\u5317\u885725\u53f7\u9662",
                "\u6210\u90fd\u65b0\u5929\u5730\u4e8c\u671f\u6625\u5929\u91cc",
                "\u62db\u5546\u96cd\u534e\u5e9c\u4e00\u671f",
                "\u89c2\u5357\u4e0a\u57df",
                "\u65f6\u4ee3\u9526\u57ce",
                "\u65b0\u91cc\u7ef4\u591a\u5229\u4e9a\u516c\u5bd3",
                "\u5174\u5143\u5609\u56ed",
                "\u6717\u57fa\u5fa1\u4eca\u7f18",
                "\u5317\u5927\u8d44\u6e90\u9890\u548c\u96c5\u90e1",
                "\u6052\u5927\u5e1d\u666f",
                "\u4e0a\u9053\u897f\u57ce",
                "\u6052\u5927\u7eff\u6d32",
                "\u5317\u56de\u5f52\u7ebf\u4e00\u671f",
                "\u5fa1\u9f99\u5c71\u4e8c\u671f",
                "\u91d1\u8302\u793c\u90fd",
                "\u65b0\u90fd\u56fd\u9645\u5e7f\u573a\u4e8c\u671f",
                "\u4f9d\u4e91",
                "\u5929\u5408\u51ef\u65cb\u6e2f",
                "\u5e7f\u798f\u6865\u885732\u53f7",
                "\u6469\u739b\u57ce",
                "\u9886\u9986\u56fd\u9645\u57ce",
                "\u4e0a\u4e1c\u4e00\u53f7\u4e00\u671f",
                "\u4e1c\u82d1C\u533a",
                "\u7eff\u5730468\u516c\u9986\u4e00\u671f",
                "\u9ad8\u7891\u745e\u82d1\u4e00\u671f",
                "\u5174\u5143\u5609\u56ed",
                "\u5fb7\u5546\u534e\u5e9c\u5929\u9a84",
                "\u957f\u5929\u8def32\u53f7\u793e\u533a",
                "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                "\u671b\u6c5f\u9526\u56ed",
                "\u6bdb\u7eba\u5382\u5bb6\u5c5e\u533a",
                "\u767e\u60a6\u5929\u9e45\u6e56",
                "\u897f\u8d22\u5b66\u5e9c\u5c1a\u90e1",
                "\u516c\u56ed\u5927\u9053",
                "\u9f99\u817e\u4e1c\u9e93\u57ce",
                "\u4eba\u548c\u4e16\u5bb6",
                "\u9f99\u6e56\u4e09\u5343\u5ead",
                "\u6d45\u6c34\u534a\u5c9b\u4e09\u671f",
                "\u5357\u6e56\u534a\u5c9b",
                "\u84dd\u6da6\u68e0\u6e56\u6625\u5929V\u5ba2",
                "\u5929\u7acb\u5e7f\u573a",
                "\u4f18\u54c1\u5c1a\u4e1c",
                "\u4e9a\u4e01\u5c0f\u9547",
                "\u548c\u4fe1\u5929\u9a84\u5e9c",
                "\u5929\u5e9c\u540d\u5c45",
                "\u6da6\u79be\u82b1\u56ed",
                "\u9999\u6728\u6797\u52a0\u5dde\u56fd\u9645",
                "\u8700\u9547\u9526\u7ff0\u56ed",
                "\u6587\u5e99\u540e\u885731\u53f7",
                "\u6218\u65d7\u4e1c\u8def9\u53f7",
                "\u878d\u57ce\u540e\u8857",
                "\u5357\u6e56\u4e16\u7eaa",
                "\u897f\u5cb8\u8482\u666f",
                "\u5e03\u9c81\u6c40",
                "\u745e\u5347\u671b\u6c5f\u6a61\u6811\u6797\u4e8c\u671f",
                "\u6211\u7684\u5927\u5b66",
                "\u5929\u5e9c\u957f\u57ce\u67cf\u5357\u90e1",
                "\u5357\u6e56\u56fd\u9645\u793e\u533a",
                "\u9999\u6f9c\u534a\u5c9b",
                "\u8096\u5bb6\u6cb3\u4e1c\u4e00\u5df7",
                "\u5143\u76ca\u82b1\u56ed",
                "\u679c\u58f3\u91cc\u7684\u57ce",
                "\u5357\u57ce\u90fd\u6c47\u6c47\u5c1a\u56ed",
                "\u91d1\u79d1\u4e1c\u65b9\u96c5\u90e1",
                "\u7ea2\u5899\u5df720\u53f7",
                "\u4f18\u5730A\u533a",
                "\u7a7a\u6e2f\u5341\u516d\u533a",
                "\u82b1\u6837\u5e74\u82b1\u6837\u57ce\u4e94\u671f",
                "\u4ec1\u6052\u6ee8\u6cb3\u6e7e",
                "\u534e\u6da6\u4e8c\u5341\u56db\u57ce\u4e03\u671f",
                "\u6210\u5357\u9526\u79c0",
                "\u6fb3\u6d32\u6e7e",
                "\u8700\u90e1\u53c8\u4e00\u57ce",
                "\u6cc9\u6c34\u4eba\u5bb6\u4e8c\u671fA\u533a",
                "\u82b1\u6837\u5e74\u82b1\u6837\u57ce\u4e94\u671f",
                "\u7f24\u7eb7\u5e7f\u573a",
                "\u6b63\u5174\u5c0f\u533a",
                "\u91d1\u8302\u5149\u660e\u57ce\u5e02",
                "\u84dd\u5149\u5e78\u798f\u6ee1\u5ead",
                "\u6210\u79d1\u8def1\u53f7\u964425\u53f7",
                "\u7535\u5efa\u5730\u4ea7\u4e91\u7acb\u65b9",
                "\u91d1\u6cb3\u8c37\u4e94\u671f",
                "\u91d1\u79cb\u4e50\u56ed\u4e8c\u671f",
                "\u6b23\u5b87\u90fd\u5e02\u6e2f\u6e7e",
                "\u4ea4\u5927\u82b1\u56ed\u6b66\u4faf\u5c0f\u533a",
                "\u897f\u57ce\u5bb6\u56ed(\u9752\u7f8a)",
                "\u516c\u56ed\u5927\u9053",
                "\u897f\u8d22\u5b66\u5e9c\u61ac\u57ce",
                "\u58f9\u53f7\u516c\u9986",
                "\u4e3d\u6c34\u6f9c\u5eadB\u533a",
                "\u7eff\u5730\u56fd\u9645\u82b1\u90fd\u4e09\u671f",
                "\u4e2d\u94c1\u4e3d\u666f\u4e66\u9999",
                "\u6d3e\u514b\u516c\u9986",
                "\u4e1c\u65b9\u65b0\u57ce\u4e8c\u671f",
                "\u89c2\u5357\u4e0a\u57df",
                "\u4e2d\u6d77\u9526\u57ce\u4e8c\u671f",
                "\u84dd\u5149\u9526\u7ee3\u57ce\u4e8c\u671f",
                "\u53cc\u6797\u4e2d\u6a2a\u8def14\u53f7",
                "ICC\u5929\u66dc",
                "\u8425\u901a\u8857181\u53f7",
                "\u6d77\u68e0\u4f73\u82d1",
                "\u621b\u7eb3\u6e7e\u91d1\u68d5\u6988",
                "\u9f99\u57ce1\u53f7",
                "\u679c\u58f3\u91cc\u7684\u57ce",
                "\u5730\u94c1\u9996\u5ea7",
                "\u5fa1\u57ce",
                "\u5408\u80fd\u67ab\u4e39\u94c2\u9e93\u4e00\u671f",
                "\u91d1\u6cb3\u8c37\u4e94\u671f",
                "\u4e09\u548c\u5357\u5ead",
                "\u6c47\u878d\u4e91\u5ead",
                "\u53cc\u6c34\u5eb7\u57ceD\u533a",
                "\u534e\u90fd\u7f8e\u6797\u6e7e",
                "\u534e\u6da6\u51e4\u51f0\u57ce\u4e00\u671f",
                "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                "\u4e16\u8302\u57ce\u56db\u671f",
                "\u5929\u5e9c\u6b27\u57ce",
                "\u534e\u90fd\u7f8e\u6797\u6e7e",
                "\u4f73\u5146\u4e1a\u4e3d\u6676\u6e2f",
                "\u8fdc\u5927\u4e2d\u592e\u516c\u56ed",
                "\u534e\u590f\u4e4b\u5bb6",
                "\u6052\u5927\u7fe1\u7fe0\u534e\u5ead",
                "\u65b0\u56ed\u5927\u9053296\u53f7\u9662",
                "\u9e93\u5c71\u56fd\u9645\u4e91\u66e6\u53f0",
                "\u76ca\u6c11\u82d1",
                "\u4e1c\u65b9\u65b0\u57ce\u4e00\u671f",
                "\u592a\u79be\u6c34\u6676\u57ce",
                "\u9999\u6f9c\u534a\u5c9b",
                "\u6e29\u54e5\u534e\u82b1\u56ed",
                "\u65b0\u65b0\u5c0f\u533a",
                "\u5408\u80fd\u67ab\u4e39\u94c2\u9e93\u4e8c\u671f",
                "\u5fa1\u57ce",
                "\u4eba\u6c11\u4e2d\u8def\u4e09\u6bb514\u53f7\u9662",
                "\u4e16\u7eaa\u5149\u534e",
                "\u57ce\u5357\u540d\u8457",
                "\u7ea2\u67ab\u5cad\u4e09\u671f",
                "\u6052\u5927\u5e7f\u573a",
                "\u5357\u57ce\u90fd\u6c47\u6c47\u99a8\u56ed\u4e09\u671f",
                "\u9999\u683c\u91cc\u62c9\u82b1\u56ed",
                "\u548c\u4fe1\u5929\u9a84\u5e9c",
                "\u8317\u82d1\u516c\u5bd3",
                "\u7ea2\u724c\u697c\u5317\u88579\u53f7",
                "\u9999\u5c71\u82d1",
                "\u6cb9\u5efa\u65b0\u533a",
                "\u6b27\u57ce\u7eff\u56ed",
                "\u6da6\u79be\u82b1\u56ed",
                "\u57ce\u5357\u540d\u8457",
                "\u5357\u6e56\u534a\u5c9b",
                "\u5bcc\u529b\u6843\u56edB\u533a",
                "\u89e3\u653e\u897f\u8def",
                "\u6960\u535a\u82d1\u4e09\u671f",
                "\u6b63\u5174\u5c0f\u533a",
                "\u9526\u7ee3\u534e\u90fd",
                "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                "\u68e0\u6e56\u58f9\u53f7",
                "\u7eff\u6768\u65b0\u90a8",
                "\u5929\u8d4b\u9f99\u5ead",
                "\u9996\u521b\u4e07\u5377\u5c71",
                "\u957f\u8679\u548c\u60a6\u5e9c",
                "\u9526\u6c5f\u57ce\u5e02\u82b1\u56ed\u4e00\u671f",
                "\u79ef\u5bb6\u5fa1\u666f",
                "\u5bcc\u529b\u516c\u9986",
                "\u94f6\u9523\u6e7e",
                "\u68e0\u6e56\u6cca\u6797\u9547",
                "\u5353\u9526\u57ce\u4e94\u671f",
                "\u9a77\u9a6c\u5eb7\u57ce",
                "\u8363\u76db\u82b1\u8bed\u57ce",
                "\u4e07\u5174\u88571\u53f7\u9662",
                "\u5929\u5e9c\u957f\u57ce\u67cf\u5357\u90e1",
                "\u5408\u80fd\u73cd\u5b9d\u7425\u73c0",
                "\u5de6\u5cb8\u82b1\u90fd",
                "\u5409\u7965\u82b1\u56ed",
                "\u65f6\u4ee3\u9526\u57ce",
                "\u6c47\u878d\u6089\u5c3c\u6e7e\u8fbe\u4ee4\u6e2f",
                "\u9999\u6f9c\u534a\u5c9b",
                "\u9526\u7ee3\u68ee\u90bb",
                "\u4e07\u79d1\u7406\u60f3\u57ce",
                "\u9526\u6c5f\u56fd\u9645\u82b1\u56ed",
                "\u5f69\u53e0\u56ed1A\u671f",
                "\u673a\u8f66\u5382\u5bbf\u820d",
                "\u65b0\u795e\u98ce\u516b\u5ea7",
                "\u5f00\u5143\u56fd\u9645",
                "\u51ef\u5fb7\u4e16\u7eaa\u540d\u90b8",
                "\u4f73\u5146\u4e1a\u4e3d\u6676\u516c\u9986",
                "\u767e\u60a6\u57ce\u56db\u671f",
                "\u8700\u90fd\u82b1\u56ed",
                "\u5609\u7965\u745e\u5ead\u5357\u57ce",
                "\u946b\u82d1\u946b\u90fd\u6c47\u5357\u533a",
                "\u4e2d\u6d77\u9526\u57ce\u4e00\u671f",
                "\u5929\u76db\u58f9\u4e2d\u5fc3",
                "\u51ef\u534e\u4e3d\u666f",
                "\u6c34\u97f5\u5c1a\u57ce",
                "\u5353\u9526\u57ce\u516d\u671f",
                "\u9752\u623f\u5c1a\u745e\u5929\u97f5",
                "\u5408\u80fd\u56db\u5b63\u57ce\u4e8c\u671f",
                "\u4e16\u53d1\u5bb6\u56ed",
                "\u84dd\u5149\u4e1c\u65b9\u5929\u5730",
                "\u51ef\u5fb7\u5353\u9526\u4e07\u9edb",
                "\u76ca\u5dde\u56fd\u9645",
                "\u534e\u6da6\u6a61\u6811\u6e7eA\u533a",
                "\u5408\u80fd\u73cd\u5b9d\u7425\u73c0",
                "\u9996\u521b\u7231\u8fd9\u57ce\u56db\u671f",
                "\u658c\u5347\u885724\u53f7",
                "\u6bd4\u534e\u5229\u56fd\u9645\u57ce\u4e00\u671f",
                "\u65fa\u5e9c\u8c6a\u5ead",
                "\u4e91\u6c34\u82d1",
                "\u6cc9\u6c34\u4eba\u5bb6\u4e8c\u671fA\u533a",
                "\u94a2\u7ba1\u5382\u4e94\u533a",
                "\u4f73\u5146\u4e1a\u541b\u6c47\u4e0a\u54c1",
                "\u6c11\u751f\u65b0\u5e72\u7ebf",
                "\u4e07\u79d1\u91d1\u6da6\u534e\u5e9c",
                "\u5de6\u5cb8\u82b1\u90fd",
                "\u71c3\u706f\u5bfa\u5317\u885729\u53f7"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u6210\u90fd\u4e8c\u624b\u623f\u6bcf\u5e73\u7c73\u4ef7\u683c\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 50000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_85a8a0b05a76486c8b6d3ca93e7c3535.setOption(option_85a8a0b05a76486c8b6d3ca93e7c3535);
    </script>
</body>
</html>
