<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0fc86f898e3b4688bbe8a5a5e491f887" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0fc86f898e3b4688bbe8a5a5e491f887 = echarts.init(
            document.getElementById('0fc86f898e3b4688bbe8a5a5e491f887'), 'white', {renderer: 'canvas'});
        var option_0fc86f898e3b4688bbe8a5a5e491f887 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u5546\u54c1",
            "data": [
                {
                    "name": "\u5929\u5c71\u540d\u82d1",
                    "value": 120
                },
                {
                    "name": "\u91d1\u57df\u6e2f\u6e7e",
                    "value": 143
                },
                {
                    "name": "\u8fce\u6656\u8def183\u53f7",
                    "value": 64
                },
                {
                    "name": "\u679c\u58f3\u91cc\u7684\u57ce",
                    "value": 80
                },
                {
                    "name": "\u91d1\u79d1\u4e00\u57ce",
                    "value": 30
                },
                {
                    "name": "\u6052\u5927\u5fa1\u666f\u534a\u5c9b",
                    "value": 85
                },
                {
                    "name": "\u6b23\u56ed\u4e8c\u671f",
                    "value": 92
                }
            ],
            "sort": "ascending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6b23\u56ed\u4e8c\u671f",
                "\u5929\u5c71\u540d\u82d1",
                "\u91d1\u79d1\u4e00\u57ce",
                "\u91d1\u57df\u6e2f\u6e7e",
                "\u6052\u5927\u5fa1\u666f\u534a\u5c9b",
                "\u679c\u58f3\u91cc\u7684\u57ce",
                "\u8fce\u6656\u8def183\u53f7"
            ],
            "selected": {
                "\u5929\u5c71\u540d\u82d1": true,
                "\u91d1\u57df\u6e2f\u6e7e": true,
                "\u8fce\u6656\u8def183\u53f7": true,
                "\u679c\u58f3\u91cc\u7684\u57ce": true,
                "\u91d1\u79d1\u4e00\u57ce": true,
                "\u6052\u5927\u5fa1\u666f\u534a\u5c9b": true,
                "\u6b23\u56ed\u4e8c\u671f": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5730\u533a\u5206\u5e03\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0fc86f898e3b4688bbe8a5a5e491f887.setOption(option_0fc86f898e3b4688bbe8a5a5e491f887);
    </script>
</body>
</html>
